.App {
  height: 100vh;
  background-color: #000;
  color: #fff;
}

.Blog {
  width: 65%;
  /* background-color: red; */
  margin: auto;
  display: flex;
  justify-content: space-between;
}

/* Left Menu */

.LeftMenu {
  margin-top: 10px;
}

.LeftMenu .logo {
  font-weight: 700;
  font-size: 17px;
  color: #1d9bf0;
}

/* Middle Menu */

.MiddleBox {
  width: 60%;
  height: 100vh;
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
}

.MiddleBox .title,
.RightMenu .title {
  font-weight: 600;
  font-size: 17px;
  color: #fff;
}

.MiddleBox .title-container {
  margin-top: 10px;
  /* background-color: red; */
  text-align: center;
  border-bottom: 1px solid #2f3336;
  padding-bottom: 10px;
}

.MiddleBox .title {
  text-align: center;
}

/* Right Menu */

.RightMenu {
  margin-top: 10px;
}
